.border {  border: 1pt solid; border-color: #00CCFF #0099FF}
.blue {  color: #0099FF}
.yellow {  color: #FFFF00}
.red {  color: #FF0000}
.green {  color: #00FF00}
.skyblue {  color: #00FFFF}
.midred {  color: #FF00FF}
.orange {  color: #FFCC00}
.white {  color: #FFFFFF}
.deepblue {  color: #0000FF}
.deepgreen {  color: #009900}
.coffee {  color: #996600}
tr {  font-size: 9pt; font-family: "Verdana", "Arial", "ו"}
body {  font-family: "Verdana", "Arial", "ו"; font-size: 9pt; background-attachment: fixed; background-image:  url("../images/bk1.gif"/*tpa=http://yokohama.cool.ne.jp/kenyo/Shiren/Shiren_SFC/images/bk1.gif*/)}
.olive {  color: #808000}
.Teal {  color: #008080}
.Maroon {  color: #800000}
.Navy {  color: #000080}
.Gray {  color: #808080}
.Purple {  color: #800080}
.Silver {  color: #C0C0C0}
a:hover {
	color: #000000;
	background-color: #00CC00;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-bottom-color: #0000FF;
}
.greenblue {  color: #0099CC}
.seablue {  color: #00CCFF}
.midblue {  color: #0066FF}
a:active {
	color: #000000;
	text-decoration: none;
	background-color: #00CC00;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-bottom-color: #0000FF;
}
.td {  border-color: #FFFFFF #000000 #000000; text-align: center; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.td2 {  border-color: #FFFFFF #000000 #000000 #FFFFFF; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.td3 {  text-align: right; border-color: #FFFFFF #000000 #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
