BODY {
	BACKGROUND-ATTACHMENT: fixed;
	BACKGROUND-IMAGE:  url("../images/bk1.gif"/*tpa=http://yokohama.cool.ne.jp/kenyo/Shiren/Shiren_Win/images/bk1.gif*/);
	font-size: 9pt;

}
A {
	FONT-WEIGHT: bolder; COLOR: #00CC00; TEXT-DECORATION: none
}
A:hover {
	COLOR: #00CCFF
}
.text {
	FONT-SIZE: 9pt; LINE-HEIGHT: 120%
}
.title {
COLOR: #00CCFF; FONT-FAMILY: "Arial"
; font-weight: bold
}
.en {
	FONT-FAMILY: "Arial"
}
.en2 {
	COLOR: #000066; FONT-FAMILY: "Arial"
}
.num {
	FONT-FAMILY: "Arial"; TEXT-ALIGN: right
}
.blue {
	COLOR: #00c
}
.red {
	COLOR: #900
}
.green {
	COLOR: #060
}
TABLE {
	BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000099 1px solid; LINE-HEIGHT: 120%; BORDER-BOTTOM: #000099 1px solid
}
TH {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #669; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #333 1px solid
}
TD {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #fff 1px solid; FONT-SIZE: 9pt; BACKGROUND: #ccc; BORDER-LEFT: #fff 1px solid; COLOR: #000; BORDER-BOTTOM: #999 1px solid
; text-align: center
}
.b1 {
	FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #ccf; BACKGROUND: #abd; BORDER-BOTTOM-COLOR: #669; BORDER-TOP-COLOR: #ccf; BORDER-RIGHT-COLOR: #669
}
.b2 {
	FONT-SIZE: small; BORDER-LEFT-COLOR: #99c; BACKGROUND: #669; BORDER-BOTTOM-COLOR: #336; COLOR: #fff; BORDER-TOP-COLOR: #99c; BORDER-RIGHT-COLOR: #336
}
.b3 {
	BORDER-LEFT-COLOR: #99c; BACKGROUND: #009999; BORDER-BOTTOM-COLOR: #336; BORDER-TOP-COLOR: #99c; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #336
}
.b3l {
	BORDER-LEFT-COLOR: #99c; BACKGROUND: #669; BORDER-BOTTOM-COLOR: #336; BORDER-TOP-COLOR: #99c; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: #336
}
.b4 {
	BACKGROUND: #ffffff;
	text-align: right;

}
.b5 {
	BACKGROUND: #ccc; TEXT-ALIGN: center
}
.b6 {
	FONT-SIZE: 9pt; BACKGROUND: #06f; TEXT-ALIGN: left
}
.b7 {
	BACKGROUND: #f0f0f0
}
.b8 {
	BORDER-LEFT-COLOR: #99c; BACKGROUND: #7777aa; BORDER-BOTTOM-COLOR: #336; COLOR: #ffaa77; BORDER-TOP-COLOR: #99c; BORDER-RIGHT-COLOR: #336
}
.b9 {
	BORDER-LEFT-COLOR: #ccf; BACKGROUND: #8899bb; BORDER-BOTTOM-COLOR: #669; BORDER-TOP-COLOR: #ccf; BORDER-RIGHT-COLOR: #669
}
.b10 {
	BACKGROUND: #dcdcdc; COLOR: #000; TEXT-ALIGN: center
}
.b11 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.b12 {
	BORDER-LEFT-COLOR: #99c; BACKGROUND: #009999; BORDER-BOTTOM-COLOR: #336; BORDER-TOP-COLOR: #99c; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #336
}
.waku {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: x-small; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tue {
	FONT-SIZE: x-small
}
.emp {
	COLOR: yellow
}
.add1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: small; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 100%; BORDER-RIGHT-WIDTH: 0px
}
.add2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #9ac; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.add3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #006; BORDER-BOTTOM-WIDTH: 0px; COLOR: #cfc; BORDER-RIGHT-WIDTH: 0px
}
