.border {  border: 1pt solid; border-color: #00CCFF #0099FF}
.blue {  color: #0099FF}
.yellow {  color: #FFFF00}
.red {  color: #FF0000}
.green {  color: #00FF00}
.skyblue {  color: #00FFFF}
.midred {  color: #FF00FF}
.orange {  color: #FFCC00}
.white {  color: #FFFFFF}
.deepblue {  color: #0000FF}
.deepgreen {  color: #009900}
.coffee {  color: #996600}
body {  font-family: "Verdana", "Arial", "ו"; font-size: 9pt; background-attachment: fixed}
.olive {  color: #808000}
.Teal {  color: #008080}
.Maroon {  color: #800000}
.Navy {  color: #000080}
.Gray {  color: #808080}
.Purple {  color: #800080}
.Silver {  color: #C0C0C0}
a:hover {
	color: #000099;
	text-decoration: none;
	background-color: #00CC00;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-bottom-color: #0000FF;







}
.seablue {  color: #00CCFF}
.midblue {  color: #0066FF}
a:active {
	color: #000099;
	text-decoration: none;
	background-color: #00CC00;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-bottom-color: #0000FF;

 


}
td {  font-family: "Verdana", "Arial", "ו"; font-size: 9pt}
.td {
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
}
.td2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.td3 {
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;

}
.td4 {
	border: 1px solid #FFFFFF;
}
